# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Shawn Doesn't like bad .gitignore
x86/*
x64/*
Debug/*
Release/*
SynthPackager/x64/*
SynthPackager/x86/*
SynthPackager/Debug/*
SynthPackager/Release/*
SynthPackager/v15/*
.vs/*
*.ipch
*.db
*.opendb
*.sou
*.appx